@import "../../styles/variaveis";

.banner {
    width: 88%;

    img {
        width: 100%;
        height: 288px;
    }

    position: relative;

    h1 {
        position: absolute;
        z-index: 1;
        color: $text;
        font-size: 2.5rem;
        font-family: "GandhiSansRegular";
        width: 301px;
        height: 144px;
        top: 55px;
        left: 44px;
    }
}

@media screen and (max-width: 414px) {
    .banner {
        width: 100%;
        position: relative;

        img {
            width: 313px;
            height: 140px;
            left: 24px;
        }

        h1 {
            display: none;
        }
    }
}